<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spencerbyers.fvcapture</string>

    <key>ProgramArguments</key>
    <array>
        <string>$HOME/anaconda3/envs/baseball/bin/python</string>
        <string>-u</string>
        <string>$HOME/fieldvision/scripts/fv_daemon.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>$HOME/fieldvision</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>30</integer>

    <key>StandardOutPath</key>
    <string>$HOME/fieldvision/scheduler.log</string>

    <key>StandardErrorPath</key>
    <string>$HOME/fieldvision/scheduler.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>$HOME</string>
        <key>USER</key>
        <string>spencerbyers</string>
        <key>PATH</key>
        <string>$HOME/anaconda3/envs/baseball/bin:$HOME/anaconda3/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
