<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spencerbyers.fvtoken</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>REPO_ROOT=$HOME/fieldvision bash $HOME/fieldvision/scripts/refresh_token_via_chrome.sh &amp;&amp; /usr/bin/scp $HOME/fieldvision/.fv_token.txt nellie:/media/scratch/$NELLIE_USER/github/baseball-biomechanics/fieldvision/.fv_token.txt</string>
    </array>

    <key>StartInterval</key>
    <integer>43200</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>$HOME/Documents/GitHub/baseball-biomechanics/fieldvision/state/fvtoken.log</string>

    <key>StandardErrorPath</key>
    <string>$HOME/Documents/GitHub/baseball-biomechanics/fieldvision/state/fvtoken.err.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>$HOME</string>
    </dict>
</dict>
</plist>
