<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.spencerbyers.fvtoken</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/spencerbyers/fieldvision/scripts/refresh_token_via_chrome.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/spencerbyers/fieldvision</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>7200</integer>

    <key>StandardOutPath</key>
    <string>/Users/spencerbyers/fieldvision/scheduler.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/spencerbyers/fieldvision/scheduler.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/spencerbyers</string>
        <key>USER</key>
        <string>spencerbyers</string>
        <key>PATH</key>
        <string>/Users/spencerbyers/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>REPO_ROOT</key>
        <string>/Users/spencerbyers/fieldvision</string>
        <key>PY</key>
        <string>/Users/spencerbyers/anaconda3/bin/python3</string>
        <key>MIN_HOURS_LEFT</key>
        <string>6</string>
    </dict>
</dict>
</plist>
